
.image-caption {
    width: 100%;
    /* height: min-content; */
    margin: 5px;
    font-size: 10px;
  }

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.social-logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-bottom: 15px;
  }

  /* MEDIA QUERY FOR MEDIUM AND LARGE SCREENS */
@media (min-width: 900px) {
    .social-logo {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
    }
  }

